@page "/counter"
@using tda_proj.Model
@using tda_proj.Service


<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>




@foreach (var contact in allContacts)
{
    <hr>
    <p>kontakt číslo: @contact.ID </p>


    foreach (var telNumber in contact.TelNumbers)
    {
        <p>@telNumber.TelNumber</p>
    }

    @foreach (var email in contact.Emails)
    {
        <p>@email.Email</p>
    }

    <hr>
}


@code {

    // tady můžeš psát normálně c# kod
    private int currentCount = 0;



    private List<Contact> allContacts = new List<Contact>();
    ContactService contactService = new ContactService();

    private void IncrementCount(){
        currentCount++; 
        
        allContacts = contactService.GetAllContactsWithDetails();
    }
}
