@using tda_proj.Model
@using tda_proj.Service

@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@foreach (var contact in allContacts)
{
    <p>Kontakt na Lektora: @contact.LectorUUID  </p>

}



















@code {
    private int currentCount = 0;

    private List<Contact> allContacts = new List<Contact>();
    private ContactService contactService = new ContactService();
    private void IncrementCount()
    {
        currentCount++;
        allContacts = contactService.GetAllContactsWithDetails();
    }
}
