@using tda_proj.Data;
@using tda_proj.Model;
@using tda_proj.Service;

@page "/"

<PageTitle>Index</PageTitle>

<h1>Helllo TdA</h1>


@code{
    private List<Lector> lectors = new List<Lector>();
    LectorService lectorService = new LectorService();

    protected override void OnInitialized(){
        lectors = lectorService.GetAllLectorsWithDetails();
    }
}