@using tda_proj.Model;
@using tda_proj.Service;

<div class="filtering_tags">
    <div @onclick="ToggleTags" class="filter_button">
        <h2>Tagy</h2>
        <i class="fa fa-angle-down fa-2xl" style='@(showTags ? "transform: rotate(180deg);" : "")'></i>
    </div>
    <div id="filter_tags" class="@(showTags ? "filter_dropdown filter_dropdown--visible" : "filter_dropdown filter_dropdown--hidden") ">
       
        @foreach(var tag in allTags)
        {
            <div class="filter_tag">
                <p>@tag.TagName</p>
                <input type="checkbox" class="filter_input"  @onclick="() => InsertTag(tag)">           
            </div>
        }
    </div>     
</div>


@code {
    [Parameter]
    public List<Tag> allTags { get; set; }

    public List<string> chosenTags { get; set; } = new List<string>();

    private bool showTags = false;


    private void ToggleTags()
    {
        showTags = !showTags;
    }

    private void InsertTag(Tag tag)
    {
        if(tag.IsChecked == false)
        {
            chosenTags.Add(tag.TagName);
        }
        else
        {
            chosenTags.Remove(tag.TagName);
        }

        tag.IsChecked = !tag.IsChecked;
        StateHasChanged();
    }
}