@using tda_proj.Model;
@using tda_proj.Service;

<head>
    <link href="css/main-page.css" rel="stylesheet" />
</head>

<div class="location">
     <h2>Lokalita</h2>
      <div id="map"> </div>    
</div>
               

@code {

}
