@page "/slider"
@using tda_proj.Model;
@using tda_proj.Service;

<head>
    <link href="css/main-page.css" rel="stylesheet" />
</head>

@* <div class="range_slider_container">
    <div class="range_slider" id="rangeSlider">
        <div class="range_slider_handle" id="handle1"></div>
        <div class="range_slider_handle" id="handle2"></div>
    </div>
    <div class="range_slider_value">
        <span class="value"><span id="value1"></span>,-</span>
        <span class="value"><span id="value2"></span>,-</span>
    </div>
</div> *@

<div class="range_slider_container"></div>


@code{

}