@page "/slider"
@using tda_proj.Model;
@using tda_proj.Service;

<head>
    <link href="css/main-page.css" rel="stylesheet" />
</head>

@* <h2 id="value_title">Cenové rozpětí</h2> *@


@code{
    private decimal minValue = 0;
    private decimal maxValue = 100;

    private void UpdateValues(){

    }
}