@inherits LayoutComponentBase

<PageTitle>tda_proj</PageTitle>

<div>
    <header>
        <img src="images/logo_black.png" id="logo">
    </header>

    <main>       
           @Body
    </main>

    <footer class="footer">
        <hr class="footer_line">
        <div class="footer_wrapper">
            <p>© 2023 Teacher digital Agency</p>
            <p>Created by: <span class="special_text">Primitive++</span></p>
        </div>
    </footer>
</div>
