@inherits LayoutComponentBase

<PageTitle>tda_proj</PageTitle>

<div>
    <header>
        <NavLink href="/"><img src="images/logo_black.png" id="logo"></NavLink>
    </header>

    <main>       
        <div class="background_image">
            @Body
        </div>
    </main>

    <footer class="footer">
        <hr class="footer_line">
        <div class="footer_wrapper">
            <p>© 2023 Teacher digital Agency</p>
            <p>Created by: <span class="special_text">Primitive++</span></p>
        </div>
    </footer>
</div>
